*{
    background-color: rgb(250, 245, 221);

}

h1{
    font-size: 55px;
    text-align: center;
    text-shadow: 3px 2px 2px rgb(167, 164, 164);
}

#clock{
    font-size: 175px;
    width: auto;
    margin: 200;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 3px 2px grey;
    background-image: linear-gradient(to left, rgb(167, 167, 167), rgb(51, 51, 51));
    
}

#clock strong{
    
    border-radius: 20px;
}